body {
  background-image: url('./assets/images/couple-hero.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

@media screen and (min-width: 1025px) {
  body {
  background-size: cover;
  background-position: center;
  }
}

@media screen and (min-width: 1452px) {
  body {
  background-size: cover;
  background-position: center;
  }
}

@media screen and (min-width: 2195px) {
  body {
  background-size: cover;
  background-position: center;
  }
}

@media screen and (max-width: 768px) {
  body {
  background-size: cover;
  background-position: center;
  }
}

@media screen and (max-width: 820px) {
  body {
  background-size: cover;
  background-position: center;
  }
}

@media screen and (max-width: 1024px) {
  body {
  background-size: cover;
  background-position: center;
  }
}

/* @media screen and (max-width: 692px) {
  .nav-item {
    font-size: 60%;
  }

  .navbar-toggler {
    position: relative;
    top: 100px;
    left: 150px;
  }

  .navbar-nav {
    position: relative;
    top: 100px;
    left: 150px;
  }

  .collapse {
    position: relative;
    top: 20px;
    right: 70;
  }
} */